{% extends "core/base.html" %}

{% block content %}

<div class="container my-5">
  <h4 class="mb-4 text-center">Розмірна сітка</h4>
  <table class="table table-bordered text-center align-middle">
    <thead class="table-light">
      <tr>
        <th scope="col">Розмір взуття</th>
        <th scope="col">Довжина устілки (см)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>36</td>
        <td>23.0</td>
      </tr>
      <tr>
        <td>37</td>
        <td>23.5</td>
      </tr>
      <tr>
        <td>38</td>
        <td>24.0</td>
      </tr>
      <tr>
        <td>39</td>
        <td>24.5</td>
      </tr>
      <tr>
        <td>40</td>
        <td>25.0</td>
      </tr>
      <!-- Додай більше рядків за потреби -->
    </tbody>
  </table>
</div>

{% endblock content %}